.icon-bar {
    display: flex;
    gap: 1px;
}

.icon-button.icon-add::before {
    content: "+";
    font-size: 32px;
    font-weight: 300;
}

.icon-button.icon-settings::before {
    content: "⚙";
    font-size: 28px;
}